@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Itim", sans-serif;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn:disabled {
  color: #fef3c7;
  background-color: #fef3c713; /* Change this to your desired disabled text color */
}
